<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK BACKEND API-REST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>¡Hola, {{ usuario }}!</h1>
        <p>Vamos al lío</p>    
    </div>

    <nav>
        <ul>
            <li>
                <a href="{{ url_for('obtener_usuarios') }}" target="_blank">MOSTRAR USUARIOS</a>
            </li>
            <li>
                <a href="{{ url_for('obtener_actividades') }}" target="_blank">MOSTRAR ACTIVIDADES</a>
            </li>
            <li>
                <a href="{{ url_for('obtener_usuarios') }}" target="_blank">MOSTRAR RESERVAS</a>
            </li>
            <li>
                <a href="{{ url_for('obtener_usuarios') }}" target="_blank">MOSTRAR ASISTENCIAS</a>
            </li>
        </ul>
    </nav>

</body>
</html>