<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK BACKEND API-REST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>¡Hola, {{ usuario }}!</h1>
        <p>Este es un diseño 100% personalizado sin usar frameworks externos.</p>
        <a href="#" class="btn">Empezar ahora</a>
    </div>
</body>
</html>